examples/ch28/WelcomeSOAPClient/WelcomeSOAPService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://welcomesoap.deitel.com/" xmlns:tns="http://welcomesoap.deitel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="welcome" type="tns:welcome"/>

  <xs:element name="welcomeResponse" type="tns:welcomeResponse"/>

  <xs:complexType name="welcome">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="welcomeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

