examples/ch28/WelcomeSOAPClient/src/META-INF/wsdl/localhost_8080/WelcomeSOAP/WelcomeSOAPService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://welcomesoap.deitel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://welcomesoap.deitel.com/">

<xs:element name="welcome" type="tns:welcome" />

<xs:element name="welcomeResponse" type="tns:welcomeResponse" />

<xs:complexType name="welcome">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="welcomeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>