examples/ch25/fig28_29/MathTutorXML/MathTutorXML/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50109/EquationGeneratorServiceXML/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GenerateEquation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="level" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateEquationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GenerateEquationResult" nillable="true" type="q1:Equation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>